<h2>Registrarse</h2>
<form action="/users/register" method="POST">
    <input class="form-control mb-2" type="text" name="first_name" placeholder="Nombre" required>
    <input class="form-control mb-2" type="text" name="last_name" placeholder="Apellido" required>
    <input class="form-control mb-2" type="email" name="email" placeholder="Email" required>
    <input class="form-control mb-2" type="number" name="age" placeholder="Edad">
    <input class="form-control mb-2" type="password" name="password" placeholder="Contraseña" required>
    <button class="btn btn-primary w-100" type="submit">Registrarse</button>
</form>
<a href="/users/login" class="btn btn-link w-100">¿Ya tienes cuenta? Login</a>